* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
# Ignorar arquivos blade das estatísticas de linguagem
*.blade.php linguist-detectable=false

# Se você também quiser ignorar outros arquivos que "poluem" as estatísticas do PHP (como JS e CSS compilados ou public)
public/js/* linguist-vendored
public/css/* linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
